export PYTHONPATH=$PWD
export BK_APP_CONFIG_PATH=bk_plugin_runtime.config
export DJANGO_SETTINGS_MODULE=bk_plugin.patch.plugin
export BK_SOPS_APP_CODE=bksops
export DJANGO_ALLOW_ASYNC_UNSAFE=True

# 应用配置
export BKPAAS_APP_ID={{ cookiecutter.app_code }}
export BKPAAS_APP_SECRET=PLEASE_UPDATE_HERE
export AIDEV_GATEWAY_NAME=PLEASE_UPDATE_HERE
export AIDEV_SPACE_ID={{ cookiecutter.space_id }}

# 平台环境变量
export BK_APIGW_MANAGER_URL_TMPL=PLEASE_UPDATE_HERE
export BK_API_URL_TMPL=PLEASE_UPDATE_HERE
export BK_PAAS_DOMAIN=PLEASE_UPDATE_HERE
export BKPAAS_ENGINE_REGION=PLEASE_UPDATE_HERE
export BKPAAS_LOGIN_URL=PLEASE_UPDATE_HERE
export BKPAAS_APIGW_OAUTH_API_URL=PLEASE_UPDATE_HERE
